.header {
  position: relative;
  width: 100%;
  height: 64px;

  display: flex;
  align-items: center;

  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;

  padding: 0 32px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
}

.logoHh {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  border-radius: 50%;

  background-color: #e30613;
  color: #ffffff;

  font-size: 12px;
 
}

.logoText {
  color: #171717;
  font-size: 18px;
  font-weight: 500;
}

.navigation {
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  display: flex;
  align-items: center;
  gap: 7px;

  padding: 0;

  border: none;
  background: transparent;

  color: #999999;

  font-size: 14px;
  font-weight: 400;

  text-decoration: none;

  cursor: pointer;

  transition: color 0.2s;
}

.link:hover {
  color: #666666;
}

.activeLink {
  display: flex;
  align-items: center;
  gap: 7px;

  padding: 0;

  border: none;
  background: transparent;

  color: #171717;

  font-size: 14px;
  font-weight: 500;

  text-decoration: none;

  cursor: pointer;
}

.activeLink:hover {
  opacity: 0.7;
}

.activeLink::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4169e1;
  display: inline-block;
}
.activeLinkWithDot {
  display: flex;
  align-items: center;
  gap: 7px;

  padding: 0;

  border: none;
  background: transparent;

  color: #171717;

  font-size: 14px;
  font-weight: 400;

  text-decoration: none;

  cursor: pointer;
}

.activeLinkWithDot::after {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #4169e1;
  display: inline-block;
}